@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.loading-shimmer {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
}

.search-box {
    position: relative;
    & i {
        position: absolute;
        top: 8px;
        left: 6px;
        color: #b8b9bc;
    }

    .form-control {
        text-indent: 15px;
    }
}

.members-div {
    margin: 0 12px 0 2px;

    .initials-avatar {
        &:hover {
            border: 1px solid rgb(235, 236, 240);
        }
    }

    .focus-ring {
        div {
            border: 2px solid black;
            box-shadow: 1px 1px 1px darkgrey;
        }
    }
}

.dropdown-menu {
    max-height: 50vh !important;
    overflow-y: auto;

    .dropdown-item:hover {
        background: rgb(210, 229, 254);
    }
}

.filter-button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    vertical-align: middle;
    line-height: 1;
    padding: 0 12px;
    white-space: nowrap;
    border-radius: 3px;
    transition: all 0.1s ease 0s;
    appearance: none;
    cursor: pointer;
    user-select: none;
    font-size: 14.5px;
    background: rgb(255, 255, 255);
    color: rgb(66, 82, 110);
    font-family: CircularStdBook, sans-serif;
    font-weight: normal;

    &:hover {
        background: rgb(235, 236, 240);
    }
}

.kanban-div {
    margin: 26px -5px 0;
    .categories {
        margin: 0 5px;
        min-height: 450px;
        width: 25%;
        border-radius: 3px;
        background: rgb(244, 245, 247);

        .title {
            padding: 13px 10px 17px;
            text-transform: uppercase;
            color: rgb(94, 108, 132);
            font-size: 13.5px;
            font-weight: bolder;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            .count {
                text-transform: lowercase;
                font-size: 13px;
            }
        }

        .tasks-div {
            height: 100%;
            padding: 0 5px;
        }
    }
}

.issue{
    color: inherit;
    text-decoration: none;
}
.issue-detail {
    padding: 10px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(9, 30, 66, 0.25) 0 1px 2px 0;
    transition: background 0.1s ease 0s;
    cursor: pointer;
    user-select: none;

    p {
        padding-bottom: 11px;
        font-size: 15px;
        line-height: 1.4285;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.issue-detail-modal {
    &.header {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 21px 18px 0px;
    }

    &.body {
        display: flex;
        padding: 0 30px 45px;

        .title-text {
            margin: 0 0 0 -8px;
            height: 50px;
            width: 100%;

            &.text-area {
                padding: 7px 7px 8px;
                line-height: 1.28;
                resize: none;
                background: rgb(255, 255, 255);
                border: 1px solid transparent;
                box-shadow: transparent 0 0 0 1px;
                transition: background 0.1s ease 0s;
                font-size: 24px;
                font-family: CircularStdMedium, sans-serif;
                font-weight: normal;
                width: 100%;
                border-radius: 3px;
                color: rgb(23, 43, 77);
                overflow: auto;
            }
        }

        .desc-label {
            padding: 20px 0 6px;
            font-size: 12.5px;
            font-family: CircularStdBold, sans-serif;
            font-weight: normal;
            text-transform: uppercase;
            color: rgb(94, 108, 132);
        }
        .ql-editor {
            min-height: 200px;
            text-transform: initial;
        }

        #comment-editor {
            .ql-editor {
                min-height: 60px;
                text-transform: initial;
            }
        }

        .issue-label {
            margin: 24px 0 5px;
            text-transform: uppercase;
            color: rgb(94, 108, 132);
            font-size: 12.5px;
            font-family: CircularStdBold, sans-serif;
            font-weight: normal;
        }
    }

    .issue-type {
        position: relative;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        display: inline-block;

        .type {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
        }
    }

    .status-btn {
        .btn {
            text-transform: uppercase;
            transition: all 0.1s ease 0s;
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 4px;
            cursor: pointer;
            user-select: none;
            color: rgb(66, 82, 110) !important;
            background: rgb(223, 225, 230) !important;
            font-family: CircularStdBold, sans-serif !important;
            font-weight: normal !important;
            font-size: 12px !important;
            padding: 0px 12px;
            height: 32px !important;
            width: auto !important;
        }

        &.task-btn {
            .btn {
                background: transparent !important;
                &:after {
                    display: none !important;
                }
            }
        }
    }

    .status-label {
        transition: all 0.1s ease 0s;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        height: 24px;
        padding: 0 8px;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
        font-family: CircularStdBold, sans-serif;
        font-weight: normal;
        font-size: 12px;

        &.backlog, &.selected {
            color: rgb(66, 82, 110);
            background: rgb(223, 225, 230);
        }
        &.inprogress {
            color: rgb(255, 255, 255);
            background: rgb(0, 82, 204);
        }
        &.done {
            color: rgb(255, 255, 255);
            background: rgb(11, 135, 91);
        }
    }

    .created-div {
        margin-top: 13px;
        padding-top: 11px;
        line-height: 22px;
        border-top: 1px solid rgb(223, 225, 230);
        color: rgb(94, 108, 132);
        font-size: 13px;
        font-family: CircularStdBook, sans-serif;
    }
}

.grabbing * {
    cursor: grabbing !important;
}


